div {

	box-sizing: border;
	
}

h2 {
	
	color:gray;
	background-color:lightgrey;
	text-align: center;
	padding:8px 15px;
    font-size:14px;
    font-family: arial,sans-serif;
    font-weight:bold;

}

#search {
	display:inline-block;
	margin-left:150px;
	
}
#lucky{
	display:inline-block;
	
}

.buttons {
	width: 600px;
	height:50px;
	margin: 10px auto 5px auto;
	
}

a {
	color: gray;
	text-decoration: none;

}

footer a:hover {
	text-decoration: underline;

}

#logo {
	width: 400px;
	margin: 200px auto 30px auto;
	display:block;

}

h2:hover {
	font-weight:bold;
	font-color:black;
	border: 1px solid gray;
}


footer {
	height:25px;
	width:100%;
	background-color:lightgrey;
	position: absolute;
	bottom:0px;
}

form {
	width:400px;
	margin: 0 auto;
}

#leftfootnav {	
	
	float: left;
	
}

#rightfootnav {
		
	float: right;	
}

#leftfootnav, #rightfootnav {
	width: 300px;
	margin-top:5px;
	font-family: arial,sans-serif;
	font-size: 14px;

}

#leftfootnav li {
	
	float: left;
	margin: auto 7px;
}

#rightfootnav li {
	
	
	float: right;
	margin: auto 7px;

}


 li {
	display: inline-block;
}

